*{
    margin: 0;
    padding: 0;
    box-sizing:border-box !important;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1410px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}